<app-nabvar></app-nabvar>
<app-progress-spiner [Isloading]="PageLoading"></app-progress-spiner>
<body *ngIf="PageLoading==='hidden'">
  <div [style]="{'visibility': invalidUpdate}" class="alert alert-danger" role="alert">
    Algo salió mal. No se pudo modificar la habilidad blanda. Inténtelo nuevamente. 
  </div>
  <h1>Editar Softskill '{{softskillToUpdateData?.softskill_descripcion}}'</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit($event)">
    <div class="form-group">
      <div>
      <input formControlName="softskill_descripcion" type="softskill_descripcion" class="form-control" aria-describedby="softskillHelp" placeholder="Enter Softskill description update" >
      </div>
      <div *ngIf="softskill_descripcion!.touched && softskill_descripcion!.invalid" class="alert alert-danger">SoftSkill description is required</div>
    </div>
    <button href="#spinner" type="submit" class="btn btn-primary"><a href="#spinner" >Editar Softskill</a></button>
    <hr>
    <button type="submit" class="btn btn-dark" routerLink="">Volver al portfolio</button>
    <mat-spinner id="spinner"  color="accent" diameter=80 [style]="{'visibility': loadingRequest}"></mat-spinner>
  </form>
</body>
