<section-container formUrl="addAntLaboral"  [icono]="faSuitcase" [arrayDeElementos]="listadoAntecedentes" [tituloYDescripcion]="{titulo: 'Antecedentes Laborales', descripcion: 'Detalle de los empleadores, tareas y períodos de trabajo' }">
    <ng-container class="container" *ngFor="let antecedente of listadoAntecedentes | paginate: { id:'antecedentesLaborales', itemsPerPage: 3, currentPage: pageAntecedentesLaborales }" class="container">
        <antecedentes-card
        (newItemEvent)="deleteAntecedente($event)"
        [antId] = "antecedente.antlaborales_id"
        [institucion]="antecedente.antlaborales_empleador"
        [imagenUrl]="antecedente.antlaborales_img_url"
        [titulo]="antecedente.antlaborales_puesto"
        [descripcion]="antecedente.antlaborales_descripcion"
        [periodoFinal]="antecedente.antlaborales_fecha_final"
        [periodoInicio]="antecedente.antlaborales_fecha_inicio"
        [IsAcademic]="false"
        [ciudad]="antecedente.antlaborales_lugar"
        [deletehash]="antecedente.antlaborales_Img_deletehash"
        ></antecedentes-card>
    </ng-container>
    <p *ngIf="listadoAntecedentes.length===0"><b>No hay antecedentes cargados</b></p>        
    <pagination-controls *ngIf="listadoAntecedentes.length!==0" id="antecedentesLaborales" (pageChange)="pageAntecedentesLaborales=$event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
</section-container>
