<div class="card">
    <h5 class="card-header" (click)="ShowOrHideList()"><fa-icon [icon]="icono"></fa-icon> {{tituloYDescripcion.titulo}} {{arrayDeElementos?"(" + arrayDeElementos.length + ")": ""}}   <fa-icon [icon]="IsHide? faAngleDown : faAngleUp"></fa-icon></h5>
    <div class="card-body">
      <p class="card-text">{{tituloYDescripcion.descripcion}}</p>
      <ng-container *ngIf="!IsHide">
        <ng-content></ng-content>
        <app-add-button  *ngIf="service.isLoggedIn()" [formUrl]="formUrl" [elemento]="tituloYDescripcion.titulo"></app-add-button>
      </ng-container>
    </div>
  </div>
