form {
  margin-top: 57px;
    width: 40%;
    height: 100%;
    display: inline-block;
  }
  
  #imagesContainer {
    display: flex;
    width: 40%;
    margin: auto;
  }

  app-file-upload {
    margin: auto;
    width: 40%;
  }

  body {
    text-align: center;
    height: auto;
  }
  
  .form-group {
    text-align: left;
  }
  
  button {
    width: 100%;
  }
  
  .btn-primary {
    margin-top: 17px;
  }
  
  h1 {
    margin-bottom: 40px;
  }

  h6 {
    text-align: left;
  }
  
  mat-spinner {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 0;
  }
  
  .form-group {
    margin-bottom: 14px;
  }
  

  @media only screen and (max-width: 600px) {
    form {
        width: auto;
      }

      #imagesContainer {
        width: auto;
        flex-direction: column;
      }

      app-file-upload {
        padding: 7px;
      }
  }