<app-nabvar></app-nabvar>
<app-progress-spiner [Isloading]="PageLoading"></app-progress-spiner>
<body *ngIf="PageLoading==='hidden'">
  <div [style]="{'visibility': invalidAdd}" class="alert alert-danger" role="alert">
    Algo salió mal. No se pudo agregar una  nueva habilidad blanda. Inténtelo nuevamente. 
  </div>
  <h1>Nueva Softskill</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit($event)">
    <div class="form-group">
      <input formControlName="softskill_descripcion" type="email" class="form-control" aria-describedby="softskillHelp" placeholder="Enter Softskill description" >
      <div *ngIf="softskill_descripcion!.touched && softskill_descripcion!.invalid" class="alert alert-danger">SoftSkill description is required</div>
    </div>
    <button type="submit" class="btn btn-primary">Agregar Softskill</button>
    <hr>
    <button type="submit" class="btn btn-dark" routerLink="">Volver al portfolio</button>
    <mat-spinner color="accent" diameter=80 [style]="{'visibility': loadingRequest}"></mat-spinner>

  </form>

</body>