<div class="card" style="width: 18rem;">
  <img class="card-img-top" [src]="projectImage" [alt]="projectTitle + 'Card image'">
  <div class="card-body">
    <div id="cuerpo">
    <h5 class="card-title">{{projectTitle | titlecase}}</h5>
    <p class="card-text"><b>Fecha : </b>{{projectDate}}</p>
    <p class="card-text">{{projectSummary}}</p>
    </div>
    <hr>
    <p><span *ngIf="authService.isLoggedIn()"><app-delete-buttom (click)="deleteProject()"></app-delete-buttom ><app-edit-buttom [routerLink]="'updateProject/' + projectId"></app-edit-buttom></span></p>
    <button type="button" [routerLink]="['project', projectId]" class="btn btn-primary">Detalle</button>
  </div>
</div>

