
<section-container [icono]="faAtom" [arrayDeElementos]="listadoProyectos" [tituloYDescripcion]="{titulo: 'Proyectos', descripcion: 'Detalle de los proyectos desarrollados' }">
    <ng-container class="container" *ngFor="let projecto of listadoProyectos  | paginate: {id:'projects', itemsPerPage: 3, currentPage: pageProject }" class="container">
     <project-card
     [projectImagenUrl] = "projecto.imagenUrl"
     [projectTitle]= "projecto.tituloProyecto" 
     [projectSummary]= "projecto.descripcion"
     [projectId]="projecto.projectId"
     projectDate= "20/12/2022"
     ></project-card>
    </ng-container>
    <pagination-controls id="projects" (pageChange)="pageProject=$event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
</section-container>