
<section-container formUrl="addProject" [icono]="faAtom" [arrayDeElementos]="listadoDeProyectos" [tituloYDescripcion]="{titulo: 'Proyectos', descripcion: 'Detalle de los proyectos desarrollados' }">
    <ng-container class="container" *ngFor="let projecto of listadoDeProyectos  | paginate: {id:'projects', itemsPerPage: 3, currentPage: pageProject }" class="container">
     <project-card
     (newItemEvent)="deleteProject($event)"
     [projectImagenUrl] = "projecto.img_url"
     [projectTitle]= "projecto.proyecto_titulo" 
     [projectSummary]= "projecto.summary"
     [projectId]="projecto.proyecto_id"
     [projectDate]= "projecto.proyecto_fecha"
     [deletehash]="projecto.img_deletehash"
     ></project-card>
    </ng-container>
    <p *ngIf="listadoDeProyectos.length===0"><b>No hay proyectos cargados</b></p>
    <pagination-controls *ngIf="listadoDeProyectos.length!==0" id="projects" (pageChange)="pageProject=$event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
</section-container>