<app-nabvar></app-nabvar>
<app-progress-spiner [Isloading]="PageLoading"></app-progress-spiner>
<body *ngIf="PageLoading==='hidden'">
  <div [style]="{'visibility': invalidAdd}" class="alert alert-danger" role="alert">
    Algo salió mal. No se pudo agregar un nuevo antecedente laboral. Inténtelo nuevamente. 
  </div>
  <h1>Nuevo Antecedente Laboral</h1>
          <app-file-upload [previewUrl]="preview" [fileName]="fileMessage" (imageToUpload)="getImageFile($event)"></app-file-upload>
  <form [formGroup]="form" (ngSubmit)="onSubmit($event)">
    <div *ngIf="!noImageUpload" class="alert alert-danger">Logo is required</div>
    <div class="form-group">
        <input formControlName="antlaborales_puesto" type="text" class="form-control" aria-describedby="antlaborales_puesto" placeholder="Ingrese Puesto" >
        <div *ngIf="antlaborales_puesto!.touched && antlaborales_puesto!.invalid" class="alert alert-danger">Titulo is required</div>
    </div>
    <div class="form-group">
        <input formControlName="antlaborales_empleador" type="text" class="form-control" aria-describedby="empleador" placeholder="Ingrese Empleador" >
        <div *ngIf="antlaborales_empleador!.touched && antlaborales_empleador!.invalid" class="alert alert-danger">Institución is required</div>
    </div>
    <div class="form-group">
        <input rows="4" formControlName="antlaborales_lugar" type="text" class="form-control" aria-describedby="lugar" placeholder="Ingrese lugar de trabajo" >
        <div *ngIf="antlaborales_lugar!.touched && antlaborales_lugar!.invalid" class="alert alert-danger">Lugar de Trabajo is required</div>
      </div>
    <div class="form-group">
        <input formControlName="antlaborales_fecha_inicio" type="date" class="form-control">
        <div *ngIf="antlaborales_fecha_inicio!.touched && antlaborales_fecha_inicio!.invalid" class="alert alert-danger">Fecha de Inicio is required</div>
      </div>
    <div class="form-group">
        <input formControlName="antlaborales_fecha_final" type="date" class="form-control">
        <div *ngIf="antlaborales_fecha_final!.touched && antlaborales_fecha_final!.invalid" class="alert alert-danger">Fecha final is required</div>
      </div>
    <div class="form-group">
      <textarea rows="4" formControlName="antlaborales_descripcion" type="text" class="form-control" aria-describedby="descripción" placeholder="Ingrese descripción" ></textarea>
      <div *ngIf="antlaborales_descripcion!.touched && antlaborales_descripcion!.invalid" class="alert alert-danger">Description is required</div>
    </div>
      <button type="submit" class="btn btn-primary">Agregar Antecedente Laboral</button>
    <hr>
    <button type="submit" class="btn btn-dark" routerLink="">Volver al portfolio</button>
    <mat-spinner color="accent" diameter=80 [style]="{'visibility': loadingRequest}"></mat-spinner>
  </form>
</body>
