<app-nabvar></app-nabvar>
<app-progress-spiner [Isloading]="PageLoading"></app-progress-spiner>
<body *ngIf="PageLoading==='hidden'">
<div class="card">
    <img class="card-img-top" [src]="projectImage" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{projectSelectedData.proyecto_titulo}}</h5>
      <p class="card-text"><b>Fecha : </b>{{projectSelectedData.proyecto_fecha}}</p>
      <p class="card-text"><b>Resumen : </b>{{projectSelectedData.summary}}</p>
      <p class="card-text"><b>Descripción : </b>{{projectSelectedData.proyecto_descripcion}}</p>
      <hr>
      <a [href]="projectSelectedData.link_repo_github" target="_blank" class="btn btn-info">Link Github</a>
      <a routerLink="" class="btn btn-dark">Volver al Portfolio</a>
    </div>
  </div>
  <app-footer></app-footer>
